<h1>Bonjour! Veuillez confirmer votre mail!</h1>

<p>
    Pour confirmer votre email cliquer sur ce lien : <br><br>
    <a href="{{ path('activation', {token}) }}">Confirmer votre email</a>.
</p>

<p>
    Bonne continuation ;)
</p>
